/* -------------------destination element region */

.destination {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* -----------left ----------------- */
.destination__left {
  position: relative;
  /* width: 50%; */
  padding: 2% 2% 2% 0;
}

.destination__image-container {
  max-width: 100%;
  height: 620px;
}

.destination__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.destination__button {
  position: absolute;
  top: 6%;
  right: 8%;
}

.destination__icon {
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 4%;
  /* right: 2vw; */
}

.destination__favoritebtn--selected {
  background-color: red;
}

/* ---------right ------------------- */
.destination__right {
  /* width: 50%; */
  padding: 15% 12% 15% 3%;
}

.destination__headline,
.destination__subtitle,
.destination__review {
  margin-bottom: 4%;
}

.destination__headline {
  text-align: center;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.destination__subtitle {
  font-size: 1.3rem;
  text-align: center;
}

.destination__review,
.destination__details-text,
.destination__details-facilities {
  font-size: 0.8rem;
}

.destination__review {
  text-align: center;
  padding: 0 18%;
}

.destination__details {
  padding: 0 2%;
}

.destination__details-headline {
  font-size: 1rem;
  margin-top: 5%;
}

.destination__details-facilities {
  margin: 2% 0 2% 4%;
}

/* ------------------ media queries -------------  */

@media (width<1250px) {
  .destination {
    grid-template-columns: 1fr;
  }

  /* -----------top  */
  .destination__left {
    display: flex;
    position: relative;
    padding: 0;
  }

  .destination__image-container {
    width: 100%;
    height: 500px;
  }

  /* -----------bottom  */
  .destination__right {
    /* width: 50%; */
    padding: 2% 12% 15% 3%;
  }
}
