/* --------------forside list view ------------------- */

.list__headline {
  font-size: 2rem;
  padding: 2% 0;
}
.listview {
  padding: 0 2% 0 2%;
}
/* //container  */
.list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  /* grid-template-columns: repeat(4, 1fr); */
  gap: min(2rem, 5vw);
}
/* //responsive container  */
.listItem {
  width: 100%;
}

.listItem__image-container {
  max-width: 100%;
  height: min(250px, 30vw);
}

.listItem__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.listItem__prompts {
  background-color: rgb(190, 236, 250);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-size: 0.7rem;
  padding: 6% 6%;
}

/* .material-symbols-outlined {
  font-size: 0.8rem !important;
} */

/* .listItem__favoritebtn--selected {
  background-color: red;
} */

/* -------------media queries  -------------------------*/
/* 
@media (width<1250px) {
  .list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .wrapper {
    width: 40rem;
  }
}
*/
@media (width<650px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}
