* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --max-width: 75vw;
  --spacing-reg: 1rem;
  --spacing-dbl: calc(var(--spacing-reg) * 2);
  --spacing-hlf: calc(var(--spacing-reg) / 2);
  --color-primary: blue;
  --color-primary-dark: darkblue;
  --black-tint-100: rgba(0, 0, 0, 0.1);
  --box-shadow: 0 0 6rem var(--black-tint-100);
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

.wrapper {
  width: var(--max-width);
  margin: auto;
}

img {
  max-inline-size: 100%;
}

a {
  text-decoration: none;
  color: black;
}
